body{
    background: url(CafeGif.gif) no-repeat;
    background-size: cover;
}

.PrimeiraLinha{
    margin-top: 4vh;
}

.SegundaLinha{
    margin-top: 5vh;
}

.Dropdown1{
    text-align: center;
    font-family: Century Gothic;
    text-transform: uppercase;
}

.Dropdown2{
    text-align: center;
    font-family: Century Gothic;
    text-transform: uppercase;
}

.Dropdown3{
    text-align: center;
    font-family: Century Gothic;
    text-transform: uppercase;
}

.Dropdown4{
    text-align: center;
    font-family: Century Gothic;
    text-transform: uppercase;
}

.link{
    text-decoration: none;
    margin-left: 1vw;
}

.finalClass{
    text-align: center;
}

.textofinalClass{
    font-family: Century Gothic;
    color: white;
}

.nav-link{
    color: #ff6500;
}

.nav-link:focus, .nav-link:hover {
    color: #632902;
}

.btn-primary {
    color: #fff;
    border-color: #ff6500;
}

.dropdown-menu {
    background-color: #c9c9c9;
}

.modal-content {
    background-color: #ff6500de;
}

.modal-header{
    border-bottom: 1px solid #00000082;
}

.modal-footer{
    border-top: 1px solid #00000082;
}

.Select.-menu-outer{
    background-color: #c9c9c9;
}