body{
    background: url(CafeGif.gif) no-repeat;
    background-size: cover;
}

.PrimeiraColuna{
    margin-top: 4vh;
}

.SegundaColuna{
    margin-top: 5vh;
}

.Dropdown1{
    text-align: center;
    font-family: Century Gothic;
    text-transform: uppercase;
}

.Dropdown2{
    text-align: center;
    font-family: Century Gothic;
    text-transform: uppercase;
}

.Dropdown3{
    text-align: center;
    font-family: Century Gothic;
    text-transform: uppercase;
}

.Dropdown4{
    text-align: center;
    font-family: Century Gothic;
    text-transform: uppercase;
}

.link{
    text-decoration: none;
    margin-left: 1vw;
}

.finalClass{
    text-align: center;
}

.textofinalClass{
    font-family: Century Gothic;
    color: white;
}